<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %> 

  <h2 class="add-contact">Add Contact</h2>

  <form class="update" action="/edit/<%= result[0].id%>" method="PUT">
   
      <label for="firstName">First-Name :</label>
      <input name="firstName" required value= "<%= result[0].firstName %>">  
   
      <label for="lastName">Last-Name :</label>
      <input name="lastName" required value="<%= result[0].lastName %>">
    
      <label for="phone">Phone :</label>
      <input name="phone" required value="<%= result[0].phone %>">
   
      <label for="email">Email :</label>
      <input name="email" value="<%= result[0].email %>">
  
      <label for="note">Adreess/Note :</label>

      <textarea name="note" id="" cols="30" rows="4"><%= result[0].note %></textarea>     
  
      <!-- <form action="/update" method="PUT"></form>   -->
        <button type="submit">UPDATE</button>
      
     
      <!-- <a href="/update">UPDATE</a> -->
    </form>
  
    

</body>
</html>